{% extends 'base.html' %}
{% load static %}

{% block locale %}
    <link rel="alternate" hreflang="ru"
        href="https://casinogoodorbad.com/about" />
    <link rel="alternate" hreflang="en"
        href="https://casinogoodorbad.com/en/about" />
    <link rel="alternate" hreflang="x-default"
        href="https://casinogoodorbad.com/en/about" />
{% endblock locale %}

{% block title %}Все, что нужно знать о команде casinogoodorbad.com{% endblock %}
{% block cann %}https://casinogoodorbad.com/about{% endblock cann %}
{% block desc %}Узнай больше о сайте, о команде, напиши нам письмо с историей и мы опубликуем его на главной.{% endblock desc %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/base.min.css' %}" />
{% endblock css %}


{% block lang %}
    <li class="item"><a href="https://casinogoodorbad.com/en/about" title="English Version" class="bord"><img src="{% static 'lang64.svg' %}" alt="иконка язык"></a></li>
{% endblock lang %}


{% block box %}
{% endblock %}

{% block content %}
<div class="about">
    <div class="about__child">
        <h1>Все, что мы хотим рассказать о себе</h1>
    <p>Все очень просто. Мы, трое единомышленников. Нас объединяет страсть к азартным играм. И эта страсть отдаляет нас друг от друга. Почему так происходит? Нет более одинокого человека в мире, чем игрок, который проиграл гораздо больше, чем мог себе позволить. Помните, только общение с близкими людьми позволит вам преодолеть все проблемы.</p>
<br>
        <p>Для чего мы создали, поддерживаем и будем развивать этот сайт? Цель одна, создать площадку для общения игроков. Раздел блогов сейчас находится в стадии тестирования.</p>
<br>
        <p>Что мы можем предложить? Честные и простые правила пользования и очень быстрый сайт. Все гэмблеры любят скорость, не правда ли?</p>
<br>
        <p>Сайт никогда не будет рекламировать плохие онлайн казино. Под плохими онлайн-казино мы подразумеваем операторов, которые не вкладывают ресурсы в развитие службы поддержки или у нас есть малейшее сомнение в их репутации.</p>
<br>
        <p>CasinoGoodOrBad никогда не будет продавать информацию о посетителях третьим лицам. В силу определенных обстоятельств, для обратной связи и отслеживания действий пользователя мы используем платформу Google.</p>
<br>
        <p>Общаясь на площадке, помните, у каждого человека есть права закрепленные в <a href="https://www.un.org/ru/universal-declaration-human-rights/index.html" rel="nofollow">Всеобщей декларации прав Человека</a> принятой  резолюцией 217 А (III) Генеральной Ассамблеи ООН от 10 декабря 1948 года. Мы эти права ограничивать не собираемся.</p>
<br>
        <p>Всем удачи. Присоединяйтесь к сообществу сайта CasinoGoodOrBad. Расскажи свою историю гэмблинга, и мы опубликуем ее на главной странице.</p>
<br>
        <p>Подписывайся на нас в <a rel="nofollow" href="https://twitter.com/pioner_vova">twitter</a>. Ты можешь написать редактору в <a href="https://casinogoodorbad.com/contact.html" rel="nofollow">форме обратной связи</a>, либо прислать письмо на почту <a rel="nofollow" href="mailto:">casinogoodorbad@gmail.com</a></p>


    </div>
</div>
{% endblock content %}

{% block script %}
{% endblock script %}
