{% extends 'base_en.html' %}
{% load static %}

{% block title %}Everything you need to know about the casinogoodorbad.com team{% endblock %}
{% block cann %}https://casinogoodorbad.com/about{% endblock cann %}
{% block desc %}Learn more about the site, about the team, write us a letter with a story and we will publish it on the main page.{% endblock desc %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/base.min.css' %}" />
{% endblock css %}


{% block content %}
<div class="about">
    <div class="about__child">
        <h1>All that we want to tell about ourselves</h1>
    <p>Everything is very simple. We are three like-minded people. We are united by a passion for gambling. And this passion moves us apart. Why is this happening? There is no more lonely person in the world than a player who lost much more than he could afford. Remember, only communication with loved ones will allow you to overcome all problems.</p>
<br>
        <p>Why did we create, support and will develop this site? The goal is one, to create a platform for communication between players. The blog section is currently under testing.</p>
<br>
        <p>What can we offer? Honest and simple terms of use and a very fast site. All gamblers love speed, right?</p>
<br>
        <p>The site will never advertise bad online casinos. By bad online casinos, we mean operators who do not invest resources in the development of support service or we are the slightest doubt about their reputation.</p>
<br>
        <p>CasinoGoodOrBad will never sell visitor information to third parties. Due to certain circumstances, we use the Google platform for feedback and tracking user actions.</p>
<br>
        <p>Communicating on the site, remember, each person has the rights enshrined in the <a href="https://www.un.org/en/universal-declaration-human-rights/index.html" rel="nofollow">Universal Declaration of Human Rights</a> adopted by resolution 217 A (III) of the UN General Assembly of December 10, 1948. We are not going to limit these rights.</p>
<br>
        <p>Good luck to all. Join the CasinoGoodOrBad community. Tell your gambling story and we will publish it on the main page.</p>
<br>
        <p>Follow us on <a rel="nofollow" href="https://twitter.com/pioner_vova"> twitter </a>. You can write to the editor in <a href="https://casinogoodorbad.com/contact.html" rel="nofollow"> feedback form </a>, or send an email to <a rel="nofollow" href="mailto:"> casinogoodorbad@gmail.com </a></p>


    </div>
</div>
{% endblock content %}

{% block script %}
{% endblock script %}
