{% extends "base_en.html" %}
{% load static %}

{% block title %}Edit your account{% endblock %}

{% block content %}
  <div class="main-account">
            <div class="child-account">
                <h1>EDIT YOUR ACCOUNT</h1>
                <form action="{% url 'edit_en' %}" method="post" enctype="multipart/form-data">
                {{ user_form.as_p }}
                {{ profile_form.as_p }}
                {% csrf_token %}
                    <p><button class="login__button" type="submit">Save</button></p>
                </form>
            </div>
  </div>
{% endblock content %}