{% extends "base_en.html" %}
{% load static %}


{% block title %}Password has been changed{% endblock %}


{% block content %}
     <div class="main-account">
        <div class="child-account">
            <h1 style="font-family: Roboto,sans-serif;font-weight: 500;font-size: 13px;">PASSWORD HAS BEEN CHANGED</h1>
            <p style="font-family: Roboto,sans-serif;color: #373b40;font-size: 14px;">Password changed successfully</p>
        </div>
     </div>

{% endblock content %}