{% extends "base_en.html" %}
{% load static %}



{% block title %}Reset your password{% endblock %}
{% block desc %}On this page, you can request a password reset.{% endblock desc %}
{% block cann %}https://casinogoodorbad.com/en/account/password_reset{% endblock cann %}

{% block lang %}
    <li class="item"><a href="{% url 'password_reset' %}" rel="nofollow" title="Russian Version" class="bord"><img src="{% static 'lang64.svg' %}" alt="icon language"></a></li>
{% endblock lang %}

{% block content %}
    <div class="main-account">
        <div class="child-account" style="font-family: Roboto,sans-serif;color: #373b40;font-size: 14px;">
                <h1 style="font-family: Roboto,sans-serif;font-weight: 500;font-size: 13px;">FORGOTTEN YOUR PASSWORD?</h1>
                <p>Enter your e-mail address to obtain a new password.</p>
                <form action="{% url 'password_reset_en' %}" method="post">

                    {{ form.as_p }}
                        <p><button class="login__button" type="submit" style="font-family: Roboto,sans-serif;color: #ffffff;font-size: 14px;">Send e-mail</button></p>
                    {% csrf_token %}
                </form>
        </div>
    </div>
{% endblock content %}
