{% extends "base_en.html" %}
{% load static %}



{% block title %}Reset your password{% endblock %}
{% block desc %}An email with a link has been sent. Check your mailbox, follow the link and enter a new password.{% endblock desc %}
{% block cann %}https://casinogoodorbad.com/account/password_reset/done{% endblock cann %}


{% block content %}
    <div class="main-account">
        <div class="child-account" style="font-family: Roboto,sans-serif;color: #373b40;font-size: 14px;">
            <h1 style="font-family: Roboto,sans-serif;font-weight: 500;font-size: 14px;">RESET YOUR PASSWORD</h1>
            <p>We've emailed you instructions for setting your password.</p>
            <p>If you don't receive an email, please make sure you've entered the address you registered with.</p>
        </div>
    </div>
    
{% endblock content%}
