{% extends "base_en.html" %}
{% load static %}


{% block title %}Reset your password{% endblock %}
{% block desc %}Account password reset page at casinogoodorbad.com. Enter the password twice and save the changes{% endblock desc %}
{% block cann %}https://casinogoodorbad.com/account/reset/MTU/set-password{% endblock cann %}



{% block content %}

        <div class="main-account">
            <div class="child-account">
                <h1 style="font-family: Roboto,sans-serif;font-weight: 500;font-size: 14px;">RESET YOUR PASSWORD</h1>
                {% if validlink %}
                <p style="font-family: Roboto,sans-serif;color: #373b40;font-size: 14px;">Please enter your new password twice:</p>
                <form action="." method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <p><button class="login__button" type="submit" style="font-family: Roboto,sans-serif;color: #ffffff;font-size: 14px;">Change</button></p>
                </form>
                {% else %}
                <p style="font-family: Roboto,sans-serif;color: #373b40;font-size: 14px;">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
                {% endif %}
            </div>
        </div>

{% endblock content%}