{% extends "base_en.html" %}
{% load static %}

{% block title %}Change password{% endblock %}


{% block content %}
 <div class="main-account">
        <div class="child-account">
            <h1 style="font-family: Roboto,sans-serif;font-weight: 500;font-size: 14px;">CHANGE PASSWORD</h1>

            <form action="{% url 'password_change_en' %}" method="post" style="font-family: Roboto,sans-serif;color: #373b40;font-size: 14px;">
            {{ form.as_p }}
                <p><button class="login__button" type="submit" style="font-family: Roboto,sans-serif;color: #ffffff;font-size: 14px;">Change</button></p>
            {% csrf_token %}
            </form>
        </div>
 </div>
{% endblock content%}