{% extends 'base.html' %}
{% load static %}


{% block title %}Пользовательское соглашение | Casino Good or Bad{% endblock %}
{% block cann %}https://casinogoodorbad.com/terms-of-use.html{% endblock cann %}
{% block desc %}Пользовательское соглашение сайта Casino Good or Bad.{% endblock desc %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/base.min.css' %}" />
{% endblock css %}


{% block lang %}
    <li class="item"><a href="https://casinogoodorbad.com/en/terms-of-use.html" rel="nofollow" title="En" class="bord"><img src="{% static 'lang64.svg' %}" alt="иконка язык"></a></li>
{% endblock lang %}


{% block box %}
{% endblock %}

{% block content %}
<div class="terms" style="margin-top: 60px; background: #ffffff; padding: 40px;">
<p>Публичная оферта о заключении Пользовательского соглашения</p>

<h1 style="text-align:center">Пользовательское соглашение</h1>

<p>&nbsp;</p>

<p>1. ОПРЕДЕЛЕНИЯ, ИСПОЛЬЗУЕМЫЕ В НАСТОЯЩЕМ СОГЛАШЕНИИ</p>

<p>1.1. Применяемые в настоящем Соглашении термины и определения используются в следующем их значении:</p>

<p>Сайт - сайт Casino Good or Bad | casinogoodorbad.com;</p>

<p>Пользователь &mdash; физическое лицо, присоединившееся к настоящему Соглашению и получившее доступ к услугам сайта;</p>

<p>Услуги &mdash; информационные услуги и другие услуги, оказываемые сайтом;</p>

<p>2. ПРЕДМЕТ СОГЛАШЕНИЯ</p>

<p>2.1. Настоящее Соглашение определяет порядок предоставления Пользователям Услуг, а также устанавливает взаимные права и обязанности Сторон, участвующих в настоящем Соглашении.</p>

<p>3. ПОРЯДОК ЗАКЛЮЧЕНИЯ СОГЛАШЕНИЯ</p>

<p>3.1. Настоящее Соглашение является договором присоединения, его заключение производится посредством принятия Пользователем условий настоящего Соглашения, т.е. путем присоединения к настоящему Соглашению в целом без каких-либо условий и оговорок.</p>

<p>3.2. Присоединение к настоящему Соглашению осуществляется в процессе фактического использования Услуг.</p>

<p>4. ПРАВА И ОБЯЗАННОСТИ СТОРОН</p>

<p>4.1. Права и обязанности Пользователя:</p>

<p>4.1.1. Пользователь имеет право в любое время расторгнуть в одностороннем порядке Пользовательское соглашение.</p>

<p>4.2. Права и обязанности Сайта:</p>

<p>4.2.1. Сайт имеет право хранить информацию обо всех подключениях Пользователя, включая IP-адреса, cookies, адреса запрошенных страниц и иную информацию, если такая информация была получена в ходе оказания Услуг, а также персональные данные Пользователя, указанные им при регистрации и/или идентификации.</p>

<p>5. ПОРЯДОК ВНЕСЕНИЯ ИЗМЕНЕНИЙ И ДОПОЛНЕНИЙ В СОГЛАШЕНИЕ</p>

<p>5.1. Изменения и/или дополнения в настоящее Соглашение вносятся в одностороннем порядке по решению Сайта. Настоящее</p>

<p>Пользовательское соглашение вступает в силу с 07 июля 2019 года.</p>
<br>
<br>
    </div>
{% endblock content %}

{% block script %}
{% endblock script %}
