.main-account {
    min-height: 70vh;
    width: 90%;
    margin: auto;
    margin-top:70px;
    background: #F2F2F2;
}

.main-account li {
    list-style-type: none; /* Убираем маркеры */
}

.main-account h1 {
    color: #1a1a1b;
}


.child-account {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border: 1px solid rgba(117,117,117,.25);
    border-radius: 3px;
}

.child-account p {
    padding-top: 10px;
    color: #706F6C;
}

.helptext {
    display: none;
    color: #706f6c;
}

.child-account label {
    display: block;
    width: 200px;
    padding-bottom: 5px;
    color: #706F6C;
}

input#id_username, input#id_password, input#id_first_name, input#id_email, input#id_password2, input#id_last_name, input#id_date_of_birth, input#id_old_password, input#id_new_password1, input#id_new_password2  {
    height: 34px;
    width: 300px;
    padding-left: 4px;
    border-radius: 4px;
    border: 1px solid rgba(117,117,117,.25);
    color: #222222;
}


.button__google {
    color: #706f6c;
    background: white;
    border: 1px solid rgba(117, 117, 117, 0.25);
}

button span {
    padding-right: 3px;
}

button {
    display: flex;
    justify-items: center;
    height: 38px;
    justify-content: center;
    line-height: 38px;
    border: 1px solid transparent;
    background: #0570e3;
    color: white;
    cursor: pointer;
    outline: none;
}

button:focus {
    outline: 1px solid rgba(0, 0, 0, 0.5);
}

button:focus {
    transform: scale(0.99)
}

button:hover {
    border: 1px solid rgba(117, 117, 117, 0.25);
}

.login__button {
    padding-left: 10px;
    padding-right: 10px;
}

button img {
    height: 100%;
}

input#id_username, input#id_password, input#id_email, input#id_first_name, input#id_password2 {
    border-radius: 0;
    border: 1px solid rgba(117, 117, 117, 0.25);
}

input#id_username:focus, input#id_password:focus, input#id_email:focus, input#id_first_name:focus, input#id_password2:focus {
    outline: 1px solid rgba(0, 0, 0, 0.5);
}

.success {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 360px;
    line-height: 60px;
    background: #4FB611;
    color: white;
    border-radius: 3px;
    text-align: center;
}

.error {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 360px;
    line-height: 60px;
    background: #FF6600;
    color: white;
    border-radius: 3px;
    text-align: center;
}

.errorlist {
    color: red;
    font-size: 14px;
}


.close {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
    font-size: 18px;
    line-height: 10px;
}


.messages {
    background: #F2F2F2;
    list-style: none;
}

.child-account a {
    color: #706f6c;
    line-height: 28px;
}

.remember-registration {
    display: flex;
    justify-content: space-between;
}
.break-form {
    height: 20px;
}

.child-account a:hover {
    cursor: pointer;
}



.social__button {
    margin-bottom: 30px;
}


@media screen and (max-width: 767px) {

    .main-account {
    text-rendering: optimizeLegibility!important;
    min-height: 80vh;
    width: 100%;
    margin-top:70px;
    background: #F2F2F2;
}

input#id_username, input#id_password, input#id_first_name, input#id_email, input#id_password2, input#id_last_name, input#id_date_of_birth, input#id_old_password, input#id_new_password1, input#id_new_password2 {
    height: 34px;
    width: 80%;
}

.child-account {
    padding-right: 30px;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: white;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

}



