.grid-casino {
    width: 1152px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
}

.front {
    position: relative;
    height: 210px;
    width: 266px;
}

.main__title {
    width: 1152px;
    margin-top: 70px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.main__title h1 {
    color: #606060;
}

.card-c {
    position: relative;
    border-radius: 4px;
    box-shadow: 0 0 2px rgba(152, 152, 152, 1);
    width: 100%;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    background-color: #ffffff;
}

.flipped {
  transform: rotateY( 90deg );
  transition: all 0.3s ease;
}

.flipped-border {
  box-shadow: none!important;
}

.card-c .quest{
    cursor: pointer;
}

.card-hi {
    perspective: 700px;
}

.card-bonus {
    height: 210px;
    width: 266px;
    background-color: white;
    border-radius: 4px;
}


.tip {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.tip p {
    padding-left: 7px;
    padding-right: 5px;
}

.tip h2 {
    padding-top: 4px;
    padding-left: 7px;
    line-height: 26px;
}

.quest {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
}

.grid-casino .img-c {
    width: 100%;
    overflow: hidden;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

.container-c {
    display:flex;
    background-color: #ffffff;
    justify-content:center;
    align-items:center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.grid-casino a.knopka {
    display: flex;
    position: absolute;
    bottom: 7%;
    color: white; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    padding: 6px;
    justify-content: center;
    align-content: center;
    outline: none; /* убирать контур в Mozilla */
    background: #0570e3;
}


a.knopka:hover {
    background: #007bff;
}

a.knopka:active {
    transform: scale(0.99);
}

@media screen and (max-width: 1200px) {
.grid-casino {
    width: auto;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 266px 266px 266px;
    grid-gap: 20px;
}

.tip p {
    padding: 5px 5px 10px 10px;
}

.tip h2 {
    padding-left: 10px;
    padding-top: 7px;
}

.main__title {
    width: 838px;
    margin-top: 70px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.main__title h1 {
    color: #606060;
}

.grid-casino .card-c {
    overflow: hidden;
    position: relative;
    width: 266px;
    transition: 0.3s;
}
}

@media screen and (max-width: 866px) {
.grid-casino {
    width: 99%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 266px 266px;
    grid-gap: 50px;
}

.main__title {
    width: 580px;
    margin-top: 70px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}


.grid-casino .container-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tip p {
    padding: 4px 4px 4px 4px;
}

.tip h2 {
    padding-left: 4px;
    padding-top: 4px;
}

.card-bonus {
    height: 245px;
}

.container-c {
    height: 60px;
}

.grid-casino .card-c {
    overflow: hidden;
    position: relative;
    transition: 0.3s;
}

.quest {
    position: absolute;
    right: 0;
    top: 0;
    width: 22px;
}
}

@media screen and (max-width: 610px) {
.grid-casino {
    width: 95%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
}

.quest {
    display: none;
}

.main__title {
    width: 95%;
}

.grid-casino .card-c {
    width: 100%;
    height: auto;
}

.card-hi {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.card-bonus {
    height: auto;
    width: 100%;
    background-color: white;
    color: #696969;
    border-radius: 4px;
}
}



