{% load static %}
	
	<div class="box">
		<div>

			<div class="img-box-main"><a href="http://record.betsson.com/_cvQpmT4UK61QuxtiWyYUnWNd7ZgqdRLk/1/" rel="nofollow sponsored"><img src="https://res.cloudinary.com/dtmwfpxu9/image/upload/f_auto,q_auto/v1584740744/logo/logobmain_axm1mc.jpg" alt="Bettson Casino" /></a></div>

		</div>
		<div class="soflex2">

			<div>
				<div class="name-boxer"><a href="https://www.sherdog.com/fighter/Khabib-Nurmagomedov-56035" rel="nofollow">Khabib Nurmagomedov</a></div>

				<div class="caf">1.35</div>
			</div>
			<div>
				<div class="name-boxer"><a href="https://www.sherdog.com/fighter/Tony-Ferguson-31239" rel="nofollow">Tony Ferguson</a></div>

				<div class="caf">3.30</div>
			</div>
			<div>
				<div class="anal">Analise</div>
				<div class="date-box">19 April 2020</div>


			</div>

		</div>
	</div>

	<div class="box">
		<div>

			<div class="img-box-main"><a href="http://record.betsson.com/_cvQpmT4UK61QuxtiWyYUnWNd7ZgqdRLk/1/" rel="nofollow sponsored" ><img src="https://res.cloudinary.com/dtmwfpxu9/image/upload/f_auto,q_auto/v1584740744/logo/logobmain_axm1mc.jpg" alt="Bettson Casino" /></a></div>

		</div>
		<div class="soflex2">

			<div>
				<div class="name-boxer"><a href="https://boxrec.com/en/proboxer/569964" rel="nofollow">Dillian Whyte</a></div>

				<div class="caf">1.28</div>
			</div>
			<div>
				<div class="name-boxer"><a href="https://boxrec.com/en/proboxer/318081" rel="nofollow">Alexander Povetkin</a></div>

				<div class="caf">3.70</div>
			</div>
			<div>
				<div class="anal">Analise</div>
				<div class="date-box">3 May 2020</div>


			</div>

		</div>
	</div>

	<div class="box">
		<div>

			<div class="img-box-main"><a href="http://record.betsson.com/_cvQpmT4UK61QuxtiWyYUnWNd7ZgqdRLk/1/" rel="nofollow sponsored"><img src="https://res.cloudinary.com/dtmwfpxu9/image/upload/f_auto,q_auto/v1584740744/logo/logobmain_axm1mc.jpg" alt="Bettson Casino" /></a></div>

		</div>
		<div class="soflex2">

			<div>
				<div class="name-boxer"><a href="https://boxrec.com/en/proboxer/659461" rel="nofollow">Anthony Joshua</a></div>

				<div class="caf">1.12</div>
			</div>
			<div>
				<div class="name-boxer"><a href="https://boxrec.com/en/proboxer/511850" rel="nofollow">Kubrat Pulev</a></div>

				<div class="caf">6.45</div>
			</div>
			<div>
				<div class="anal">Analise</div>
				<div class="date-box">21 June 2020</div>


			</div>

		</div>
	</div>

	<div class="box">
		<div>

			<div class="img-box-main"><a href="http://record.betsson.com/_cvQpmT4UK61QuxtiWyYUnWNd7ZgqdRLk/1/" rel="nofollow sponsored"><img src="https://res.cloudinary.com/dtmwfpxu9/image/upload/f_auto,q_auto/v1584740744/logo/logobmain_axm1mc.jpg" alt="Bettson Casino" /></a></div>

		</div>
		<div class="soflex2">

			<div>
				<div class="name-boxer"><a href="https://boxrec.com/en/proboxer/479205" rel="nofollow">Tyson Fury</a></div>

				<div class="caf">1.28</div>
			</div>
			<div>
				<div class="name-boxer"><a href="https://boxrec.com/en/proboxer/468841" rel="nofollow">Deontay Wilder</a></div>

				<div class="caf">3.70</div>
			</div>
			<div>
				<div class="anal">Analise</div>
				<div class="date-box">19 July 2020</div>


			</div>

		</div>
	</div>
	













