{% extends 'base_en.html' %}
{% load static %}

{% block title %}User agreement{% endblock %}
{% block cann %}https://casinogoodorbad.com/terms-of-use.html{% endblock cann %}
{% block desc %}Public offer for the conclusion of the User Agreement.{% endblock desc %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/base.min.css' %}" />
{% endblock css %}



{% block content %}
    <div class="terms" style="margin-top: 60px; background: #ffffff; padding: 40px;">
<p>Public offer for the conclusion of the User Agreement</p>

<h1 style="text-align:center">User agreement</h1>

<p>&nbsp;</p>

<p>1. DEFINITIONS USED IN THIS AGREEMENT</p>

<p>
    1.1. The terms and definitions in this Agreement are used in the following
    meaning:
</p>

<p>Website – "casinogoodorbad.com" website</p>

<p>
    User - an individual who has joined this Agreement and has gained access
    to the services of the site;
</p>

<p>Services - information services and other services provided by the site;</p>

<p>2. SUBJECT OF THE AGREEMENT</p>

<p>
    2.1. This Agreement defines the procedure for the provision of Services to
    Users, as well as establishes the mutual rights and obligations of the
    Parties to this Agreement.
</p>

<p>3. PROCEDURE FOR CONCLUSION OF THE AGREEMENT</p>

<p>
    3.1. This Agreement is an adhesion contract; its conclusion is made
    through acceptance of the terms of this Agreement by the User, that is, by
    joining this Agreement as a whole without any conditions and reservations.
</p>

<p>
    3.2. Accession to this Agreement is carried out in the process of actual
    use of the Services.
</p>

<p>4. RIGHTS AND OBLIGATIONS OF THE PARTIES</p>

<p>4.1. Rights and obligations of the User:</p>

<p>
    4.1.1. The user has the right to terminate the User Agreement unilaterally
    at any time.
</p>

<p>4.2. Rights and obligations of the Website:</p>

<p>
    4.2.1. The Website has the right to store information about all user
    connections, including IP addresses, cookies, addresses of requested pages
    and other information, if such information was obtained during the
    provision of the Services, as well as personal data of the User provided
    during registration and / or identification.
</p>

<p>5. PROCEDURE FOR INTRODUCTION OF AMENDMENTS AND ADDITIONS TO THE AGREEMENT</p>

<p>
    5.1. Changes and / or additions to this Agreement are made unilaterally by
    decision of the Website.
</p>

<p>
    This User Agreement shall enter into force on
    July 07, 2019.
</p>
<br>
<br>
    </div>
{% endblock content %}

{% block script %}
{% endblock script %}