{% extends 'base_en.html' %}
{% load static %}
{% load search_en %}

{% block title %}404 | Error 404{% endblock %}
{% block desc %}This page 404 of error website casinogoodorbad.com. If you are on this page, then something went wrong.{% endblock desc %}
{% block cann %}https://{{ request.META.HTTP_HOST }}{% url 'main_en' %}{% endblock cann %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/base.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/account.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/casino-list.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/article-list.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/article-detail.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/casino-review.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/contact.min.css' %}" />
{% endblock css %}



                                        {% block content %}
                                            <div class="main-content">
                                            <h1>404 ERROR</h1>
                                            </div>
                                        {% endblock content %}


